.container {
  display: flex;
}

.search-form {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-field {
  display: flex;
  margin-left: 20px;
}

input {
  padding: 5px;

  border-radius: 6px;
  &:hover,
  &:focus {
    box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 0.1);
    border-color: rgba(0, 117, 255, 0.8);
  }
}

.btn-primary {
  margin-top: 10px;
}

.btn {
  padding: 8px;
  border-radius: 6px;
  background-color: rgba(0, 117, 255, 0.8);
  border-color: inherit;
  color: aliceblue;
  &:hover,
  &:focus {
    box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 0.1);
    border-color: rgba(0, 117, 255, 0.8);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.stats-item {
  flex-wrap: wrap;
  text-align: center;
}

.cardContainer {
  margin: 15px;
}

.photo-card {
  width: 300px;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
}

img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.material-icons {
  display: flex;
  justify-content: center;
}
